#facenality:hover {
    color: #1F9BCF;
}

.link-home {
    padding-left: 6.5%;
}

.link-font {
    font-size: 17px;
}

a .link-font {
    font-size: 25px;
}

img {
    border-radius: 50%;
    object-fit: cover;
}