<form [formGroup]="form">
  <fieldset class="row">

    <div class="col-2 my-auto global-font text-primary">
      <label for="inputAge">{{"AGE" | translate}}</label>
    </div>
    <div class="col">
      <input type="number" class="form-control" id="inputAge" aria-describedby="ageHelp" placeholder="" [formControl]="form.controls['age']">
      <small id="emailHelp" class="form-text text-muted">{{"GENERAL_INFO_FORM_HINT_VALUE_OPTIONAL" | translate}}</small>
    </div>

    <div class="w-100" style="margin-bottom: 2%;"></div>

    <div class="col-2 my-auto global-font text-primary">
      <label for="genderSelect">{{"GENDER" | translate}}</label>
    </div>
    <div class="col">
      <select class="form-control" id="genderSelect" [formControl]="form.controls['gender']">
        <option value="1">{{"GENDER_MALE" | translate}}</option>
        <option value="2">{{"GENDER_FEMALE" | translate}}</option>
        <option value="3">{{"GENDER_OTHER" | translate}}</option>
      </select>
      <small id="emailHelp" class="form-text text-muted">{{"GENERAL_INFO_FORM_HINT_VALUE_OPTIONAL" | translate}}</small>
    </div>

    <div class="w-100" style="margin-bottom: 2%;"></div>

    <div class="col-2 my-auto global-font text-primary">
      <label for="exampleInputEmail1">Email</label>
    </div>
    <div class="col">
      <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" type="email"
        [formControl]="form.controls['email']">
      <small id="emailHelp" class="form-text text-muted">{{"GENERAL_INFO_FORM_HINT_EMAIL" | translate}}</small>
    </div>

    <div class="w-100" style="margin-bottom: 2%;"></div>

    <div class="col text-center text-primary">
      <label class="form-check-label">
        <input #termsAcceptedCheckbox class="form-check-input" value="0" type="checkbox" [formControl]="form.controls['agreedToTerms']">
        {{"GENERAL_INFO_FORM_PRIVACY_1" | translate}}
        <a class="text-info" routerLink='/legal-and-privacy' target='_blank'>{{"PRIVACY_POLICY" | translate}}</a>
        {{"GENERAL_INFO_FORM_PRIVACY_2" | translate}}
      </label>
    </div>

    <div class="w-100" style="margin-bottom: 2%;"></div>

    <button type="submit" class="btn btn-success" style="width: 100%;" (click)="onSubmit()" [disabled]="!form.valid">
      {{"BTN_SUBMIT" | translate}}</button>
      <small id="emailHelp" class="form-text text-muted text-center" style="width: 100%;">{{"GENERAL_INFO_FORM_PRIVACY_HINT" | translate}}</small>
  </fieldset>
</form>