<form>
  <fieldset>
    <div class="form-group">
      <label for="inputAge">Alter</label>
      <input class="form-control" id="inputAge" aria-describedby="ageHelp" placeholder="" type="email">
    </div>

    <div class="form-group">
      <label for="genderSelect">Geschlecht</label>
      <select class="form-control" id="genderSelect">
        <option>Männlich</option>
        <option>Weiblich</option>
        <option>Andere</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email (optional)</label>
      <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" type="email">
      <small id="emailHelp" class="form-text text-muted">Freiwillige Angabe, um Ergebnisse per Mail zu bekommen.</small>
    </div>

    <fieldset class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" value="" type="checkbox">
          Ich habe die AGB & den Datenschutz gelesen und verstanden
        </label>
      </div>      
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>