<div id="pageTitle" #pageTitle class="global-body-wrapper">
    <h1 class="display-3">{{"ABOUT_FACENALITY" | translate}}</h1>
    <hr class="my-4" style="margin-left: 0.5%;">

    <div id="about-content-wrapper" class="row">
        <!-- Introduction/ Abstract -->
        <div class="col-12 text-content text-primary">
            <h4 class="card-title text-info">{{"ABSTRACT" | translate}}</h4>
            <p>
                Der erste Eindruck neuer Bekanntschaften ist prägend und hat weitgehenden Einfluss auf zukünftige
                Interaktionen und der Vorstellung, die wir vom Charakter eines Menschen entwickeln. Neben
                „beeinflussbaren“ Faktoren wie Verhalten, Kleidung und Sprache, trägt insbesondere das Gesicht
                einen hohen Stellenwert in der Wertung des Individuums.
                Der langfristige Prozess der Evolution hat das menschliche Gehirn zuverlässig trainiert, Gesichter
                zu erkennen und hinsichtlich Vertrauen einschätzen zu können. Es stellt sich allerdings die Frage,
                ob objektive Gesichtsmerkmale, mit bestimmten Ausprägungen der Persönlichkeit assoziiert werden
                können.
                <br>
                <br>
                Um diese Frage zu beantworten, habe ich angefangen das Deep Learning System Facenality zu entwickeln,
                welches
                Gesichter und ausgefüllte Fragebögen analysiert und dem Nutzer anschließend ermöglicht, seine
                Persönlichkeitsmerkmale anhand eines aufgenommenen Fotos vorhersagen zu lassen.
                <br>
            </p>
            <h4>Was ist deine Facenality?</h4>
            <br>
        </div>

        <div class="col-12 section row">
            <h4 class="col-12 text-center" style="margin-bottom: 2%;">
                {{"FACENALITY_OSS_GITHUB" | translate}}
            </h4>
            <a href="https://github.com/adessoag/facenality" class="col btn btn-outline-primary">
                <i class="fa fa-2x fa-desktop fa-margin" aria-hidden="true"></i>
                Frontend
            </a>
            <a href="https://github.com/adessoag/facenality-backend" class="col btn btn-outline-primary">
                <i class="fa fa-2x fa-leaf fa-margin" aria-hidden="true"></i>
                Backend
            </a>
            <a href="https://github.com/adessoag/facenality-model" class="col btn btn-outline-primary">
                <i class="fa fa-2x fa-server fa-margin" aria-hidden="true"></i>
                Deep Learning Model
            </a>
            <div class="w-100" style="margin-bottom: 2%"></div>
            <a class="col btn btn-outline-success text-primary">
                <i class="fa fa-2x fa-github"></i>
                {{"ADESSO_MORE_OSS" | translate}}
            </a>
        </div>

        <div class="col-12 text-content text-primary">
            <h4 class="card-title text-info">{{"GOALS" | translate}}</h4>
            <p>{{"GOAL_INTRO" | translate}}</p>
            <p class="text-info paragraph-spacing">{{"GOAL_QUESTION" | translate}}</p>
            <ul>
                <li>{{"GOAL1" | translate}}</li>
                <li>{{"GOAL2" | translate}}</li>
                <li>{{"GOAL3" | translate}}</li>
            </ul>
            <p class="paragraph-spacing">
                {{"GOAL_PROCEDURE" | translate}}
            </p>
        </div>

        <div class="col-12 text-content text-primary">

            <h4 class="card-title text-info">{{"PRIVACY" | translate}}</h4>
            <ul>
                <li>asdasd</li>
                <li>asdasd</li>
                <li>asdasd</li>
            </ul>
            <h4>Was ist deine Facenality?</h4>
        </div>

        <div class="col-7 text-content text-primary">
            <h4 class="card-title text-info">{{"ABOUT_ME" | translate}}</h4>
            <ul>
                <li>asdasd</li>
                <li>asdasd</li>
                <li>asdasd</li>
            </ul>
        </div>

        <div class="col-5 text-content">
            <img class="img-fluid img-round" src="assets/images/sergej-grilborzer-smaller.jpg" style="border: 50%;">
        </div>

        <div class="col-12 actions-home-contact">
            <a href="https://github.com/s-gbz" target="_blank" class="btn btn-outline-info btn-lg text-primary">
                <i class="fa fa-2x fa-github" aria-hidden="true" style="vertical-align: middle;"></i>&nbsp;
                {{"BTN_GITHUB" | translate}}
            </a>
            <a href="mailto:sergej.grilborzer@adesso.de" target="_blank" class=" btn btn-outline-primary btn-lg">
                <i class="fa fa-2x fa-envelope-o" aria-hidden="true" style="vertical-align: middle;"></i>&nbsp;
                {{"BTN_CONTACT" | translate}}
            </a>
        </div>

        <div class="col-12 text-content text-primary">
            <h4 class="card-title text-info">{{"ACKNOWLEDGMENTS" | translate}}</h4>
            <p>
                {{"ACK_INTRO" | translate}}
                <br>
                <br>
                {{"ACK_THANKS_TO" | translate}}
                <br>
            </p>
            <ul>
                <li>Prof. Dr. Henrik Blunck</li>
                <li>Alexander Klassen</li>
                <li>{{"ACK_OSS_TEAM" | translate}}</li>
                <li>{{"ACK_IT_SUPPORT" | translate}}</li>
                <li>Jan Schneider</li>
                <li>Julius Hüttmann</li>
                <li>{{"ACK_COLLEAGUES" | translate}}</li>
            </ul>
            <br>
            <br>
            <p>
                {{"ACK_OUTRO" | translate}}
            </p>
            <hr class="my-4" style="margin-left: 0.5%;">
            <p class="text-muted text-center">
                <i class="fa fa-heart text-danger" aria-hidden="true">
                </i>
                {{"REGARDS" | translate}} - Sergej Grilborzer
                <i class="fa fa-hand-peace-o icon-pulse" aria-hidden="true"></i>
            </p>
            <br>
            <br>
            <a routerLink="/" class="btn btn-block btn-info btn-lg text-center">
                <i class="fa fa-2x fa-home" aria-hidden="true" style="vertical-align: middle;"></i>&nbsp;
                {{"BTN_HOME" | translate}}
            </a>
        </div>


    </div>
</div>