#about-content-wrapper {
    margin: 0 auto 5% -1%;
}

.text-content {
    margin-top: 7%;
    text-align: justify;
}

.card-title {
    margin-bottom: 2%;
    font-size: 30px;
}

div p {
    font-size: 20px; 
}

div ul {
    font-size: 20px;
}

.actions-home-contact {
    margin-top: 5%;
    text-align: center;
}