<div [formGroup]="form">

  <h2 class="display-4 col-12" style="text-align: center;">II. Questionnaire</h2>

  <div class="card border-primary mb-3" style="margin: 2% 15%;">
    <!-- Info icons and instructions -->
    <div class="card-body">
      <div class="row" style=" white-space: nowrap;">
        <p class="col text-primary" style="white-space: nowrap;">
          <i class="fa fa-3x fa-hourglass-half" style="vertical-align: middle;"></i>&nbsp; Takes less than 12 Min.
        </p>
        <p class="col text-primary" style="white-space: nowrap;">
          <i class="fa fa-3x fa-check" style=" vertical-align: middle;"></i>&nbsp; Try to answer quick and honestly.
        </p>
        <p class="col text-primary">
          <i class="fa fa-3x fa-pencil-square-o" style=" vertical-align: middle;"></i>&nbsp; Avoid neutral answers.
        </p>
      </div>
      <hr class="my-4">
      <p class="col-12 badge-secondary" style="margin: 4% 0 -1% -1%;">Progress:
        <ngb-progressbar class="col" type="success" showValue="true" [value]="page-1" [max]="maxPages+1" [striped]="true"></ngb-progressbar>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12" *ngFor="let question of pagedItems">
      <p class="badge-primary global-font" style="text-align: center; margin: 0 15%;">{{question.label}}</p>

      <div class="row" style="margin: 3.5% 15%;">
        <span class="col badge-info global-font" style="white-space: nowrap;">Strongly Agree</span>

        <input id="radio-1" class="col" [value]="1" type="radio" [formControlName]="question.key">
        <input id="radio-2" class="col" [value]="2" type="radio" [formControlName]="question.key">
        <input id="radio-3" class="col" [value]="3" type="radio" [formControlName]="question.key">
        <input id="radio-4" class="col" [value]="4" type="radio" [formControlName]="question.key">
        <input id="radio-5" class="col" [value]="5" type="radio" [formControlName]="question.key">

        <span class="col badge-warning global-font" style="white-space: nowrap;">Strongly Disagree</span>
      </div>
    </div>

    <!-- Next page -->
    <button *ngIf="!showResultButton" class="btn btn-success col" style="margin: 0 15%; width: 100%;" (click)="nextPage()">Next
      page
    </button>

    <!-- Submit -->
    <button *ngIf="showResultButton" class="btn btn-success col" type="submit" style="margin: 0 15%; width: 100%;"
      (click)="submitResults()">Submit
    </button>

  </div>
</div>