<div class="container" scrollToTop>
  <div class="row">
    <div class="col-md-12">
      <div class="content-unavailable-template">
        <h2 class="display-3 col-12" style="text-align: center;">F.A.Q.</h2>
        <h3 class="display-6 col-12" style="text-align: center; margin-top: 2%; margin-bottom: 6%;">{{"FAQ_SUBTITLE" | translate}}</h3>

        <i class="fa fa-5x fa-wrench text-warning" aria-hidden="true"></i>

        <h3 class="display-6 col-12" style="text-align: center; margin-top: 6%; margin-bottom: 1%;">{{"UNDER_CONSTRUCTION_NOTICE1" | translate}}</h3>
        <p class="col-12 text-primary global-font" style="text-align: center; margin-bottom: 6%;">{{"UNDER_CONSTRUCTION_NOTICE_QUESTIONS" | translate}}</p>

        <div class="actions-home-contact">
          <a routerLink="/" class="btn btn-info btn-lg">
            <i class="fa fa-2x fa-home" aria-hidden="true" style="vertical-align: middle;"></i>&nbsp;
            {{"BTN_HOME" | translate}}
          </a>
          <a href="mailto:sergej.grilborzer@adesso.de" target="_blank" class="btn btn-outline-primary btn-lg">
            <i class="fa fa-2x fa-envelope-o" aria-hidden="true" style="vertical-align: middle;"></i>&nbsp;
            {{"BTN_CONTACT" | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>