<div class="global-body-wrapper text-primary" scrollToTop>
  <h1 class="display-4 text">{{"LEGAL" | translate}}</h1>
  <p class="card-text global-font">
    adesso AG<br>
    Stockholmer Allee 20<br>
    44269 Dortmund<br>
    T +49 231 7000-7000<br>
    F +49 231 7000-1000<br>
    E info@adesso.de<br>
    <br>
    Vertreten durch den Vorstand:<br>
    Michael Kenfenheuer (Vors.), Christoph Junge, Dirk Pothen, Andreas Prenneis.<br>
    <br>
    Aufsichtsratsvorsitzender: Prof. Dr. Volker Gruhn<br>
    <br>
    Handelsregister beim Amtsgericht Dortmund, Nr. HRB 20663<br>
    Umsatzsteueridentifikationsnummer DE 208 318 527<br>
    <br>
    Verantwortlich im Sinne des § 55 Abs. 2 RStV:<br>
    <br>
    ..wer?<br>
    <br>
    Konzeption und Gestaltung: Sergej Grilborzer
  </p>


  <h1 id="privacy-header" class="display-4">{{"PRIVACY" | translate}}</h1>
  <div class="row card-body text-block global-font">
    <button class="col-12 btn btn-info btn-heading">I. Präambel</button>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">
      Button with data-target
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
    <p *ngIf="true" class="card-text">
      Verantwortlich für die Internetangebote ist die adesso AG, Stockholmer Allee 20, 44269 Dortmund,
      <br>
      kurz: adesso, (nachfolgend auch wir/uns).
      <br>
      <br>
      Nachfolgend möchten wir Sie umfassend und im Detail informieren, wie wir Ihre Privatsphäre schützen und wie
      eine Verarbeitung von personenbezogenen Daten im Rahmen unsere Webseiten und/oder Online-Angebote erfolgt.
      Personenbezogene Daten werden sobald wie möglich wieder gelöscht und niemals ohne Ihr Einverständnis zu
      Werbezwecken verwendet oder weitergegeben.
      Soweit die nachfolgenden Informationen nicht ausreichend oder nicht verständlich sein sollten, zögern Sie
      nicht, unseren Datenschutzbeauftragten unter den in Ziffer II genannten Kontaktdetails zu kontaktieren.
    </p>
  </div>

</div>