<div class="container">
  <img class="img" src={{imageSource}} alt={{description}}>    

  <div class="container" style="text-align: center; margin-top: 4%;">
    <label class="col">{{description}}</label>
  </div>

  <!-- Buttons visible depending on input parameter -->
  <div *ngIf="!buttonsNotVisible" class="row" style="margin-top: 2%;">
    <button type="button" class="btn btn-primary col mr-2" (click)="onCapture()">
      <i class="fa fa-camera container-fa"></i>&nbsp; Webcam
    </button>

    <input #fileInput type="file" (change)="onFileUpload($event)" style="display: none">
    <button type="button" class="btn btn-primary col" (click)="fileInput.click()">
      <i class="fa fa-upload"></i>&nbsp; Upload
    </button>
  </div>
</div>