/* Using a premade Bootstrap theme */
@import "https://bootswatch.com/4/lux/bootstrap.css";

.global-body-wrapper {
    margin: 5% 15% 5% 15%;
}

.global-page-wrapper {
    margin-left: 5%;
    margin-right: 5%;
}   

.my-4 {
    margin: 0 15%;
}

.global-font {
    font-size: 17px;
}