<div class="footer-wrapper bg-dark">
  <div class="global-page-wrapper">
    <div class="row">

      <div class="col text-center">
        <a class="nav-link" routerLink="/about" style="font-size: 17px">
          <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;
          {{"ABOUT_FACENALITY" | translate}}
        </a>
      </div>

      <div class="col text-center">
        <a class="nav-link " routerLink="/legal-and-privacy" style="font-size: 17px">
          <i class="fa fa-gavel" aria-hidden="true"></i>&nbsp;
          {{"LEGAL_AND_PRIVACY" | translate}}
        </a>
      </div>

      <div class="col text-center">
        <a class="nav-link" routerLink="/faq" style="font-size: 17px">
          <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
          FAQ
        </a>
      </div>

    </div>
  </div>
</div>